header {
    text-align: center;
    background-color: rgb(9, 9, 87);
    padding: 5px 0;
    color: yellow;
}

main {
    margin-top: 1%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 75px 310px;
    gap: 1%;
    grid-template-areas:
        "search currentWthr currentWthr currentWthr currentWthr currentWthr"
        "search forecastHdr . . . ."
        "search forecast1 forecast2 forecast3 forecast4 forecast5";
}

button {
    display: block;
    width: 80%;
    margin: 5% auto;
    background-color: lightblue;
}

input {
    margin: 0 auto;
    height: 2em;
    font-size: 100%;
}

span {
    display: block;
    margin: 5px;
}

button {
    height: 3em;
    border-radius: 10px;
    font-size: 100%;
    font-weight: 600;
}

button:hover {
    background-color: rgb(223, 218, 218);
}

.firstSpan {
    font-weight: bold;
}

.forecastSpan {
    font-size: 125%;
    font-weight: bold;
}

.forecast {
    background-color: rgb(50, 50, 80);
    font-size: 120%;
    color: whitesmoke;
}

.forecast span {
    margin-bottom: 10%;
}

#crntWthrIcon {
    position: relative;
    float: right;
    right: 65%
}

#currentWthr {
    font-size: 200%;
    background-color: gainsboro;
}

#citySearch {
    border-bottom: solid 1px gray;
}

#search {
    grid-area: search;
}

#currentWthr {
    grid-area: currentWthr;
    border: 1px solid gray;
}

#forecast1 {
    grid-area: forecast1;
}

#forecast2 {
    grid-area: forecast2;
}

#forecast3 {
    grid-area: forecast3;
}

#forecast4 {
    grid-area: forecast4;
}

#forecast5 {
    grid-area: forecast5;
}

#forecastHdr {
    grid-area: forecastHdr;
}